.logo-item {
  width: 50vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-text-in-primary);
  background: var(--color-primary);
  
}

.logo-item > img{
  width: 50vw;
  padding: 7.8rem 9.4rem;
}

.background-item {
  position: absolute;
  height: 100%;
  width: 100%;
}

.logo-container {
  text-align: center;
  margin-bottom: 3.2rem;
}

.logo-container img{
  height: 10rem;
}

.logo-container h2 {
  font-weight: 500;
}

